<html>
<head>
  <meta charset="utf8" />
  <link href="./lib/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<style>
  .basil {
    background-color: #3280fc !important;
  }
</style>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-card color="basil">
          <v-card-title class="text-center justify-center py-4">
            <h3 class="font-weight-bold display-1">
              template-code-generator
            </h3>
          </v-card-title>
        </v-card>

          <v-tabs background-color="transparent" grow  v-model="tab">
            <v-tab>
              模板代码生成
            </v-tab>
            <v-tab>
              对象生成
            </v-tab>
            <v-tab>
              "待定"
            </v-tab>
          </v-tabs>
          <v-tabs-items  v-model="tab">
            <v-tab-item>
              <template-code-gen></template-code-gen>
            </v-tab-item>
            <v-tab-item >
              <object-gen></object-gen>
            </v-tab-item>
            <v-tab-item>
            <v-card flat>
              <v-card-text>333</v-card-text>
            </v-card>
            </v-tab-item>
        </v-tabs-items>
      </v-main>
    </v-app>
  </div>
  <script src="lib/vue.js"></script>
  <script src="lib/lodash.js"></script>
  <script src="app/stringformat.js"></script>
  <script src="app/templateCodeGen.js"></script>
  <script src="app/objectGen.js"></script>
  <script src="lib/vuetify.js"></script>
  <script src="component/templateCodeComponent.js"></script>
  <script src="component/objectGenComponent.js"></script>
  <script src="app/app.js"></script>
</body>
</html>